<app-header>
  <div class="form-container">
    <input type="text" class="search-input" [(ngModel)]="query" />

    <app-button (click)="searchBy(currentSearch)">{{ buttons.search }}</app-button>
  </div>
  <div class="attribute-container">
    <span class="label-text">Search by:</span>
    <app-button-group class="btn-group">
      <app-button
        [isActive]="currentSearch === searchValues.Overview"
        (click)="currentSearch = searchValues.Overview"
      >
        {{ buttons.overview }}
      </app-button>
      <app-button
        [isActive]="currentSearch === searchValues.Title"
        (click)="currentSearch = searchValues.Title"
      >
        {{ buttons.title }}
      </app-button>
    </app-button-group>
  </div>
</app-header>

<main class="main">
  <app-loader></app-loader>

  <div class="filter-wrapper">
    <div class="container">
      <span>{{ (movieService.movies | async).length }} movies found</span>
      <div class="attribute-container">
        <span class="label-text">Sort by:</span>
        <app-button-group class="btn-group">
          <app-button
            [isActive]="currentSorting === sortingValues.Rating"
            (click)="sortBy(moviesList)"
            #ratingBtn
          >
            {{ buttons.rating }}
          </app-button>
          <app-button
            [isActive]="currentSorting === sortingValues.ReleaseDate"
            (click)="sortBy(moviesList, sortingValues.ReleaseDate)"
            #releaseDateBtn
          >
            {{ buttons.releaseDate }}
          </app-button>
        </app-button-group>
      </div>
    </div>
  </div>

  <div *ngIf="moviesList.length" class="movie-list">
    <app-list-group>
      <app-movie-item
        class="movie-item"
        *ngFor="let item of moviesList"
        [movie]="item"
      ></app-movie-item>
    </app-list-group>
  </div>

  <p *ngIf="!moviesList.length" class="no-found">No movies founded</p>

  <app-pagination
    *ngIf="moviesList.length"
    [totalMoviesNumber]="(movieService.movies | async).length"
    (emitCurrentPage)="setMoviesList($event)"
  ></app-pagination>
</main>

<app-footer></app-footer>
