@import "variables";

.form-container {
  display: flex;
  justify-content: center;
  width: 100%;

  .search-input {
    height: 37px;
    min-width: 400px;
    width: 100%;
    max-width: 400px;
    margin-right: 4px;
    box-sizing: border-box;
    padding: 12px;
    border: 1px solid $dark-grey2;
    border-radius: 5px;
    background-color: $dark-grey2;
    color: $white;
    outline: none;
  }
}

.main {
  position: relative;
  margin-bottom: 70px;
}

.attribute-container {
  display: flex;
  align-items: center;
  align-self: flex-start;
  margin-top: 10px;

  .label-text {
    margin-right: 5px;
    text-transform: uppercase;
    font-size: 1.2rem;
  }

  .btn-group::ng-deep {
    font-size: 1.2rem;
  }
}

.filter-wrapper {
  background: $dark-grey2;

  .label-text {
    font-weight: bold;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
  }
}

.movie-list {
  .movie-item {
    min-width: 210px;

    @media (max-width: 1000px) {
      margin-right: 5px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.no-found {
  text-align: center;
  padding: 40px 15px;
  font-size: 3rem;
}
