@import 'variables';

:host {
  position: relative;
  display: block;
  min-height: 30vh;

  .bg {
    position: absolute;
    top: -15px;
    left: 0;
    width: 100%;
    min-height: calc(30vh + 15px);
    height: 100%;
    background: url('~/assets/images/header-bg.jpeg');
    background-size: cover;
    filter: blur(7px) brightness(40%);
    z-index: $bgIndex;
  }

  .logo-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: $contentIndex;
  }

  .logo {
    margin: 0;
    font-weight: bold;
    font-size: 2rem;
    color: $activeColor;
    cursor: pointer;
    text-decoration: none;

    span {
      font-weight: normal;
    }
  }

  .content-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 25vh;
    max-height: 500px;
    min-width: 400px;
    margin: 0 auto;
    z-index: $contentIndex;
  }
}


