// color variables
$red: #f65261;
$dark-grey: #232323;
$dark-grey2: #424242;
$grey: #555555;
$white: #ffffff;
$white2: #c0c0c0;
$black: #000000;
$green: #a1e66f;

$activeColor: $red;
$bgColor: $dark-grey;
$fontColor: $white;

// z-index variables
$bgIndex: 1;
$contentIndex: 1;
$loaderIndex: 100;
