<app-header>
  <div class="movie">
    <img class="image" [src]="movie.poster_path" />
    <div class="content">
      <div class="wrapper">
        <h1>{{ movie.title }}</h1>
        <span class="rating">{{ movie.vote_average }}</span>
      </div>
      <div class="wrapper">
        <span *ngIf="movie.genres?.length">
          <span class="genre" *ngFor="let item of movie.genres; let last = last">
            {{ last ? item : item + '-' }}
          </span>
        </span>
      </div>
      <div class="wrapper">
        <span class="release-year">
          <span>{{ movie.release_date | date:'yyyy' }}</span>
          year
        </span>
        <span class="runtime">
          <span>{{ movie.runtime }}</span>
          min
        </span>
      </div>
      <p class="wrapper description">{{ movie.overview }}</p>
    </div>
  </div>
</app-header>

<div class="genre-wrapper">
  <div class="container">
    <span>Films by
      <span class="genre" *ngFor="let item of movie.genres; let last = last">
        {{ last ? item : item + ', ' }}
      </span>
      {{ movie.genres.length > 1 ? 'genres' : 'genre'  }}
    </span>
  </div>
</div>

<main class="main">
  <app-loader></app-loader>

  <div class="movie-list">
    <app-list-group>
      <app-movie-item
        class="movie-item"
        *ngFor="let item of recommendedList"
        [movie]="item"
      ></app-movie-item>
    </app-list-group>
  </div>
</main>

<app-footer></app-footer>
