@import 'variables';

.movie {
  display: flex;
  justify-content: center;
  padding: 20px 30px;
  max-width: 700px;

  .wrapper {
    display: flex;
    align-items: center;
  }

  .image {
    max-width: 250px;
    max-height: 400px;
    margin-right: 40px;
  }

  h1 {
    margin-right: 15px;
    font-weight: normal;
    text-transform: uppercase;
  }

  .rating {
    min-width: 50px;
    padding: 10px 0;
    text-align: center;
    font-size: 2.4rem;
    border: 1px solid $white2;
    border-radius: 50%;;
    color: $green;
    box-sizing: border-box;
  }

  .genre {
    position: relative;
    top: -10px;
    display: inline-block;
    margin-bottom: 20px;
    font-size: 1.3rem;
    color: $white2;
  }

  .release-year {
    margin-right: 30px;
    color: $white2;

    span {
      font-size: 2rem;
      color: $activeColor;
    }
  }

  .runtime {
    color: $white2;

    span {
      font-size: 2rem;
      color: $activeColor;
    }
  }

  .description {
    font-size: 1.8rem;
    color: $white2;
  }
}

.main {
  position: relative;
  margin-bottom: 70px;
}

.genre-wrapper {
  padding: 15px;
  background: $dark-grey2;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
  }

  .genre {
    font-weight: bold;
  }
}

.movie-list {
  .movie-item {
    min-width: 210px;

    @media (max-width: 1000px) {
      margin-right: 5px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
